.widgets
	width: 225px 
	left: 0
	position: relative
	transition: left .5s ease
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		width: 5px
		height: 100%
		background: -webkit-linear-gradient(right, $border-color, rgba(0, 0, 0, 0))
		background: -o-linear-gradient(right, $border-color, rgba(0, 0, 0, 0))
		background: linear-gradient(right, $border-color, rgba(0, 0, 0, 0))
		z-index: -1
	
	&__sampler, &__quatPamp
		width: 188px
		height: 188px
		background-color: $white
		border: 1px solid $border-color
		margin: 15px 15px 0 
		h4
			border-bottom: 1px solid $border-color
			position: relative
			padding: 5px 25px
			&:before
				content: ""
				position: absolute
				top: 9px
				left: 7px
				width: 10px
				height: 10px
				background-color: green
		&-content
			padding: 30px 20px 0
			position: relative
			.sampler-icon
				display: none
			.syringe
				position: absolute
				top: 9px
				left: 3px
			.thermostat, .vial
				position: absolute
				top: 33px
				right: 35px
			.vial 
				top: 95px
	&__quatPamp 
		h4 
			&:before 
				background-color: yellow
		&-content
			position: relative
			.quatPamp-bottle1
				position: absolute
				top: 35px
				left: 20px
			.quatPamp-bottle2
				position: absolute
				top: 35px
				left: 60px
			span 
				position: absolute
				font-size: .9em
				top: 65px
				left: 34px
			.second-span
				left: 72px
			small
				font-size: .6em
				position: absolute
				top: 91px
				left: 32px
			.second-small
				left: 63px
			.canvas
				display: none
			.quatPamp-3
				position: absolute
				top: 38%
				right: 20px
			p 
				font-size: .8em
				margin: 0 0 10px
				text-align: center
				line-height: 0px