@import "vars"
@import "fonts"
@import "../libs/jquery-nice-select-1.1.0/scss/nice-select.scss"
@import "header"
@import "aside"
@import "widgets"


html, body, h1
	margin: 0
	padding: 0
a, li
	color: $text-color
	text-decoration: none
	list-style-type: none
	&:hover, &:focus, &:active
		outline: none
html 
	width: 1920px
	height: 1080px
body
	font-family: "Roboto Regular", "Helvetica", sans-serif
	background-color: $main-color
	font-size: 16px
main 
	@extend %display-flex
	


			